@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("/static/fonts/Sailec\ Bold.ttf");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: gray;
}

.container {
  display: flex;
  justify-content: center;
}

nav {
  width: 75%;
  height: 72px;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo img {
  width: 120px;
  height: 15px;
}

.nav__links {
  width: 366px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Sailec Bold", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
