@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("/static/fonts/Sailec\ Bold.ttf");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 75vw;
  height: 72px;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo img {
  width: 120px;
  height: 15px;
}

.nav__links {
  width: 366px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  font-family: "Sailec Bold", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.first-info {
  width: 75%;
  display: flex;
  align-items: flex-start;
}

.first-info__text {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.first-info__h {
  font-family: "Sailec Bold", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #4a4a4a;
  margin-bottom: 80px;
}

.first-info__p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #434a54;
  line-height: 30px;
}

.first-info__image {
  width: 50%;
}

.first-info__image img {
  width: 95%;
  height: 95%;
}

.second-info {
  width: 75%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 5%;
}

.second-info__image {
  width: 50%;
}

.second-info__image img {
  width: 95%;
  height: 95%;
}

.second-info__text {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.second-info__h {
  font-family: "Sailec Bold", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #4a4a4a;
  margin-bottom: 80px;
}

.second-info__p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #434a54;
  line-height: 30px;
  margin-bottom: 80px;
}

.second-info__link a {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #1d6ff3;
}

.third-info {
  width: 75%;
  display: flex;
  align-items: flex-start;
  gap: 5%;
}

.third-info__image {
  width: 50%;
}

.third-info__image img {
  width: 95%;
  height: 95%;
}

.third-info__text {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.third-info__h {
  font-family: "Sailec Bold", sans-serif;
  font-weight: 700;
  font-size: 58px;
  color: #4a4a4a;
  margin-bottom: 80px;
}

.third-info__p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #434a54;
  line-height: 30px;
  margin-bottom: 80px;
}

.third-info__link a {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #1d6ff3;
}
